<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        ul{
            display: flex;
            justify-content: space-between;
            background-color: aqua;
            border: 3px solid;
            padding: 10px;
        }
        li{
            list-style-type: none;
        }
    </style>
</head>
<body>
    {% extends "welcome.html" %}
    {% block content %}
    {% comment %} <nav>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'about' %}">About Us</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
            <li><a href="{% url 'services' %}">Services</a></li>
            <li><a href="{% url 'projects' %}">Projects</a></li>

        </ul>
    </nav> {% endcomment %}
    <h1>Welcome to the About Us Page</h1>
    {% endblock %}
</body>
</html>
